body,
h1 {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

body {
  min-height: 100%;
  font-family: Roboto;
  background: #f1f1f1;
}

a {
  color: #333333;
}

article hr {
  margin: 10px 14px;
  float: none;
  width: initial;
}

.is-logo {
  float: left;
  margin-left: 18px;
  width: 44px;
}

.is-logo img {
  display: block;
  width: 100%;
}

.is-logo img:first-child {
  display: none;
  width: 195px;
}

@media (min-width: 768px) {
  .is-logo img {
    display: none;
  }
  .is-logo img:first-child {
    display: block;
  }
}

.logo {
  margin-left: 15px;
  font-size: 30px;
  font-weight: bold;
  float: left;
}

.logo:hover {
  text-decoration: none;
}

.logo i {
  margin-left: 5px;
  color: #e91d00;
}

header {
  background: #ffffff;
  height: 68px;
  padding: 10px;
  border-bottom: 1px solid #e8e8e8;
  position: relative;
  left: 0;
  right: 0;
  z-index: 2;
}

.searchbox-container {
  margin-left: 84px;
}

.searchbox-container .input-group {
  margin-top: 5px;
}

.searchbox-container .form-control:focus {
  outline: none;
  box-shadow: none;
}

.searchbox-container button {
  padding-left: 20px;
  padding-right: 20px;
  background: #f8f8f8;
  border-radius: 0;
}

@media (min-width: 768px) {
  .searchbox-container {
    margin-left: 240px;
    max-width: 400px;
  }
}

section {
  background: #f1f1f1;
  min-height: 100%;
  z-index: 1;
}

section aside {
  display: none;
  position: absolute;
  top: 67px;
  left: 0;
  bottom: 0;
  width: 230px;
  background: #ffffff;
  border-right: 1px solid #e8e8e8;
  z-index: 2;
}

section aside .close {
  display: block;
  margin: 10px 0;
}

.aside-backdrop.modal-backdrop {
  display: none;
  z-index: 1;
}

@media (min-width: 768px) {
  section aside {
    display: block;
  }

  section aside .close {
    display: none;
  }
}


.nav {
  margin: 0 20px;
}

.nav li a {
  display: block;
  padding: 2px 10px;
  margin: 10px 0;
}

.nav li a:hover {
  color: #ffffff;
  background: #333333;
}

.nav li.separator {
  height: 1px;
  background: #e8e8e8;
}

section aside h5 {
  color: #ce1312;
  margin-left: 30px;
  text-transform: uppercase;
  font-size: 10px;
  margin-top: 20px;
}

section aside .badge {
  font-size: 0.8em;
  background: #bbbbbb;
  position: relative;
  top: 1px;
}

#dining-styles .item {
  display: block;
  cursor: pointer;
  padding: 4px 4px 4px 8px;
  font-weight: normal;
  font-size: 0.9em;
  margin: 0 0 -1px;
}

#dining-styles .item:hover {
  background: #333333;
  color: #ffffff;
  text-decoration: none;
}

#dining-styles .active .item {
  border: 1px solid #ce1312;
  margin-top: -1px;
}

#dining-styles .active .badge {
  background: #333333;
}

section article {
  margin: 7px 10px 10px 0;
  padding: 10px 0;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  section article {
    margin-left: 237px;
  }
}

.ais-Stats-text {
  padding-right: 14px;
  font-size: 0.8em;
  line-height: 24px;
}

#hits {
  padding: 0 15px;
}

.ais-Pagination {
  box-shadow: none;
  border: none;
  border-radius: initial;
  padding: 0px;
}

.ais-Pagination-item {
  display: inline-block;
  padding: 0px;
}

.ais-Pagination-item + .ais-Pagination-item {
  margin-left: 4px;
}

.ais-Pagination-item--disabled {
  display: none;
}

.ais-Pagination-link {
  display: block;
  background: #f8f8f8;
  padding: 3px 8px;
  color: #333333;
}

.ais-Pagination-item--selected .ais-Pagination-link {
  border-color: #b5b5b5;
  background: #e8e8e8;
}

.ais-Pagination-link:hover {
  text-decoration: none;
  border-color: #cfcfcf;
  background: #ebebeb;
  color: #333333;
}

.ais-Hits-list {
  margin: 0;
}

.ais-Hits-item {
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: none;
  width: 100%;
}

.hit {
  margin-bottom: 10px;
  min-height: 130px;
  border: 1px solid #f3f3f3;
}

.hit em {
  font-style: normal;
  background: #ffffd4;
  text-decoration: underline;
}

.hit .media-object {
  height: 65px;
  width: 65px;
  overflow: hidden;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

@media (min-width: 768px) {
  .hit .media-object {
    height: 130px;
    width: 130px;
  }
}

.hit .media-heading {
  color: #167ac6;
  font-weight: normal;
  font-size: 18px;
}

.hit .media-body {
  padding: 10px;
}

.thank-you {
  font-size: 0.8em;
  margin-top: 18px;
  margin-left: 30px;
}

.thank-you a {
  color: #ce1312;
}

.stars {
  display: block;
}

@media (min-width: 768px) {
  .stars {
    margin-left: 5px;
    display: inline-block;
  }
}

.star {
  /* item star */
  display: inline-block;
  width: 1em;
  height: 1em;
}

.star:before {
  content: '\2605';
  color: #fbae00;
}

.star__empty {
  /* empty star */
  display: inline-block;
  width: 1em;
  height: 1em;
}

.star__empty:before {
  content: '\2606';
  color: #fbae00;
}

.payment-option,
.dining-style {
  margin: 12px 0;
}

.payment-option .badge {
  margin-left: 4px;
}

@media (min-width: 768px) {
  .payment-option .badge:first-child {
    margin-left: 0;
  }
}

.dining-style {
  font-weight: bold;
}

.payment-option .badge {
  background: #bbbbbb;
}

.ais-RatingMenu {
  margin: 0 20px;
}

.ais-RatingMenu-item--selected {
  outline: 1px solid red;
}

.ais-RatingMenu-item {
  padding: 4px 4px 4px 8px
}

.ais-RatingMenu-item:hover {
  background: #333333;
}

.ais-RatingMenu-item:hover * {
  color: #ffffff;
  text-decoration: none;
}

input:required:invalid,
input:focus:invalid,
select:required:invalid,
select:focus:invalid {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAeVJREFUeNqkU01oE1EQ/mazSTdRmqSxLVSJVKU9RYoHD8WfHr16kh5EFA8eSy6hXrwUPBSKZ6E9V1CU4tGf0DZWDEQrGkhprRDbCvlpavan3ezu+LLSUnADLZnHwHvzmJlvvpkhZkY7IqFNaTuAfPhhP/8Uo87SGSaDsP27hgYM/lUpy6lHdqsAtM+BPfvqKp3ufYKwcgmWCug6oKmrrG3PoaqngWjdd/922hOBs5C/jJA6x7AiUt8VYVUAVQXXShfIqCYRMZO8/N1N+B8H1sOUwivpSUSVCJ2MAjtVwBAIdv+AQkHQqbOgc+fBvorjyQENDcch16/BtkQdAlC4E6jrYHGgGU18Io3gmhzJuwub6/fQJYNi/YBpCifhbDaAPXFvCBVxXbvfbNGFeN8DkjogWAd8DljV3KRutcEAeHMN/HXZ4p9bhncJHCyhNx52R0Kv/XNuQvYBnM+CP7xddXL5KaJw0TMAF8qjnMvegeK/SLHubhpKDKIrJDlvXoMX3y9xcSMZyBQ+tpyk5hzsa2Ns7LGdfWdbL6fZvHn92d7dgROH/730YBLtiZmEdGPkFnhX4kxmjVe2xgPfCtrRd6GHRtEh9zsL8xVe+pwSzj+OtwvletZZ/wLeKD71L+ZeHHWZ/gowABkp7AwwnEjFAAAAAElFTkSuQmCC);
  background-position: right top;
  background-repeat: no-repeat;
  -moz-box-shadow: none;
}
input:required:valid,
select:required:valid {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAepJREFUeNrEk79PFEEUx9/uDDd7v/AAQQnEQokmJCRGwc7/QeM/YGVxsZJQYI/EhCChICYmUJigNBSGzobQaI5SaYRw6imne0d2D/bYmZ3dGd+YQKEHYiyc5GUyb3Y+77vfeWNpreFfhvXfAWAAJtbKi7dff1rWK9vPHx3mThP2Iaipk5EzTg8Qmru38H7izmkFHAF4WH1R52654PR0Oamzj2dKxYt/Bbg1OPZuY3d9aU82VGem/5LtnJscLxWzfzRxaWNqWJP0XUadIbSzu5DuvUJpzq7sfYBKsP1GJeLB+PWpt8cCXm4+2+zLXx4guKiLXWA2Nc5ChOuacMEPv20FkT+dIawyenVi5VcAbcigWzXLeNiDRCdwId0LFm5IUMBIBgrp8wOEsFlfeCGm23/zoBZWn9a4C314A1nCoM1OAVccuGyCkPs/P+pIdVIOkG9pIh6YlyqCrwhRKD3GygK9PUBImIQQxRi4b2O+JcCLg8+e8NZiLVEygwCrWpYF0jQJziYU/ho2TUuCPTn8hHcQNuZy1/94sAMOzQHDeqaij7Cd8Dt8CatGhX3iWxgtFW/m29pnUjR7TSQcRCIAVW1FSr6KAVYdi+5Pj8yunviYHq7f72po3Y9dbi7CxzDO1+duzCXH9cEPAQYAhJELY/AqBtwAAAAASUVORK5CYII=);
  background-position: right top;
  background-repeat: no-repeat;
}

.add-edit-modal .modal-dialog {
  height: calc(100vh - 20px);
  overflow: scroll;
}

@media (min-width: 768px) {
  .add-edit-modal .modal-dialog {
    width: calc(100vw - 60px);
    height: calc(100vh - 60px);
  }
}

.modal-backdrop {
  opacity: .5;
}

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.no-margin {
  padding: 0;
}

.media-right > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90px;
  margin: 20px 10px 20px 0;
}

.media-right > div button {
  opacity: .3;
}

.media-right > div button:hover {
  opacity: 1;
}

.toggle-filters {
  margin-right: 15px;
}

@media (min-width: 768px) {
  .toggle-filters {
    display: none;
  }
}

.ais-ClearRefinements {
  margin: 10px 0;
}

.form-error {
  text-align: center;
  color: red;
  height: 20px;
}
